/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menu,
menuitem,
menucaption,
.splitmenu-menuitem {
  -moz-appearance: none;
  -moz-box-align: center;
  color: black;
  font: menu;
  padding: 1px 0px;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"], 
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"] {
  color: gray;
  text-shadow: none;
}

/* ..... internal content .... */

.menu-text,
.menu-iconic-text,
.menu-accel,
.menu-iconic-accel {
  margin: 0 !important;
  padding: 1px 0px;
}

.menu-text,
.menu-iconic-text {
  font-weight: inherit;
  color: inherit;
}

.menu-text {
  margin-left: 26px !important;
}

.menu-iconic-text {
  margin-left: 6px !important;
}

menucaption > .menu-text,
menucaption > .menu-iconic-text {
  font-weight: bold;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  margin-inline-start: 1ex !important;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

/* menuitems with icons */
.menuitem-iconic,
.menu-iconic,
menuitem[image],
menuitem[src] {
  /* 2px higher than those without icons */
  padding-top: 1px;
  padding-bottom: 1px;
}

.menuitem-iconic > .menu-iconic-left > .menu-iconic-icon,
.menu-iconic > .menu-iconic-left > .menu-iconic-icon,
menuitem[image] > .menu-iconic-left > .menu-iconic-icon,
menuitem[src] > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

/* ..... menu arrow box ..... */

.menu-right,
.menu-accel-container {
  margin-inline-end: 6px;
  margin-inline-start: 15px;
  -moz-box-pack: end;
}

.menu-right {
  width: 8px;
  list-style-image: url("chrome://global/skin/menu/menu-arrow.png");
  -moz-image-region: rect(0, 8px, 10px, 0);
}


.menu-right[_moz-menuactive="true"]:not([disabled="true"]) {
  -moz-image-region: rect(0, 16px, 10px, 8px);
}

.menu-right[disabled="true"] {
  -moz-image-region: rect(0, 24px, 10px, 16px);
}

.menu-right:-moz-locale-dir(rtl) {
  -moz-transform: scaleX(-1);
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
  padding: 2px 5px;
  margin: 1px 0;
}

menubar > menu[_moz-menuactive="true"][open="true"],
menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
  color: #FFFFFF !important;
  background: linear-gradient(#6483f8, #2255f5);
  text-shadow: none;
}

menubar > menu:-moz-lwtheme {
  -moz-appearance: none;
  border-style: none;
}

menubar > menu:-moz-lwtheme:not([disabled="true"]) {
  color: inherit !important;
}

/* ..... internal content .... */

.menubar-left {
  margin: 0 2px;
  color: inherit;
}

.menubar-text {
  margin: 0 1px !important;
  color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

menupopup > menu,
menupopup > menuitem,
menupopup > menucaption {
  background: #FFFFFF;
  max-width: 42em;
  min-height: 19px;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"] {
  color: #FFFFFF !important;
  background: linear-gradient(#6483f8, #2255f5);
}

/* ::::: menu/menuitems in menulist popups ::::: */

menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  max-width: none;
  font: inherit;
  color: #000000;
}

menulist > menupopup > menuitem {
  padding-right: 5px;
}

menulist > menupopup > menuitem > .menu-text {
  margin-left: 20px !important;
}

menulist > menupopup > menuitem > .menu-iconic-text {
  margin-left: 0px !important;
}

/* ::::: menuitems in editable menulist popups ::::: */

menulist[editable="true"] > menupopup > menuitem,
menulist[editable="true"] > menupopup > menucaption {
  -moz-appearance: none;
}

menulist[editable="true"] > menupopup > :-moz-any(menuitem, menucaption) > .menu-iconic-left {
  display: none;
}

/* ::::: checked menuitems ::::: */

menupopup > menuitem[checked="true"] > .menu-iconic-left,
menupopup > menuitem[selected="true"] > .menu-iconic-left {
  background: -moz-image-rect("chrome://global/skin/menu/menu-check.png", 0, 10, 11, 0) bottom left no-repeat transparent;
  background-position: 50% 50%;
}

menupopup > menuitem[checked="true"] > .menu-iconic-left:-moz-locale-dir(rtl),
menupopup > menuitem[selected="true"] > .menu-iconic-left:-moz-locale-dir(rtl) {
  background-position: bottom right;
}

menupopup > menuitem[checked="true"][_moz-menuactive="true"] > .menu-iconic-left,
menupopup > menuitem[selected="true"][_moz-menuactive="true"] > .menu-iconic-left {
  background-image: -moz-image-rect("chrome://global/skin/menu/menu-check.png", 0, 20, 11, 10);
}

menulist:not([editable="true"]) > menupopup > menuitem[checked="true"]::before,
menulist:not([editable="true"]) > menupopup > menuitem[selected="true"]::before {
  content: '\2713'; /* a checkmark */
  display: block;
  width: 15px;
  margin-inline-start: -15px;
}

/* ::::: menuseparator ::::: */

menuseparator {
  margin: 5px 1px 5px 26px;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}
